<mat-card class="suggestions-card">
    <mat-card-header>
        <h3>Conexões sugeridas</h3>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <div matListItemIcon class="avatar" matListItemIcon></div>
                <div matListItemTitle>John Doe Smith</div>
                <div matListItemLine>Desenvolvedor Web</div>
            </mat-list-item>
            <mat-list-item>
                <div matListItemIcon class="avatar" matListItemIcon></div>
                <div matListItemTitle>John Doe Smith</div>
                <div matListItemLine>Desenvolvedor Web</div>
            </mat-list-item>
            <mat-list-item>
                <div matListItemIcon class="avatar" matListItemIcon></div>
                <div matListItemTitle>John Doe Smith</div>
                <div matListItemLine>Desenvolvedor Web</div>
            </mat-list-item>
            <mat-list-item>
                <div matListItemIcon class="avatar" matListItemIcon></div>
                <div matListItemTitle>John Doe Smith</div>
                <div matListItemLine>Desenvolvedor Web</div>
            </mat-list-item>
            <mat-list-item>
                <div matListItemIcon class="avatar" matListItemIcon></div>
                <div matListItemTitle>John Doe Smith</div>
                <div matListItemLine>Desenvolvedor Web</div>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Ver mais</button>
    </mat-card-actions>
</mat-card>
