<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <small class="post-text">
            The Shiba Inu is the smallest of the six original and distinct ssmallitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
        </small>
        <img class="post-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
        Curtidas
      </button>
      <button mat-button>
        <mat-icon>forum</mat-icon>
        Comentários
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
        Compartilhar
      </button>
    </mat-card-actions>
  </mat-card>
