<mat-card class="side-toolbar">
    <div class="header">
        <div class="avatar"></div>
    </div>
    <div class="bio">
        <div class="title">
            <h3>John Doe</h3>
            <small>Desenvolvedr Web em ACME</small>
        </div>
    </div>

    <div class="activity">
        <div>
            <h4>245</h4>
            <small>Postagens</small>
        </div>
        <div class="followers">
            <h4>1.2K</h4>
            <small>Seguidores</small>
        </div>
        <div>
            <h4>383</h4>
            <small>Seguindo</small>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="nav-menu">
        <mat-list>
            <mat-list-item>
                <mat-icon matListItemIcon>home</mat-icon>
                <div matListItemTitle>Feed</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>person</mat-icon>
                <div matListItemTitle>Conexões</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>event</mat-icon>
                <div matListItemTitle>Eventos</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>groups</mat-icon>
                <div matListItemTitle>Grupos</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>notifications</mat-icon>
                <div matListItemTitle>Notificações</div>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListItemIcon>settings</mat-icon>
                <div matListItemTitle>Configurações</div>
            </mat-list-item>
        </mat-list>
    </div>
</mat-card>